{% extends "base.html" %}
{% block content %}
<h3>Añadir empresa</h3>
<form method="POST">
  <div class="mb-3"><label>Nombre</label><input class="form-control" name="nombre" required></div>
  <div class="mb-3"><label>Email</label><input class="form-control" name="email" type="email" required></div>
  <div class="mb-3"><label>Sector</label><input class="form-control" name="sector"></div>
  <div class="mb-3"><label>Ciudad</label><input class="form-control" name="ciudad"></div>
  <button class="btn btn-success">Añadir</button>
</form>
{% endblock %}
